[Desktop Entry]
Type=Application
Exec=sh -c "/usr/bin/autolock.sh $HOME/.autolock"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Autolock
